body {
    font-family: 'Open Sans', sans-serif;
}

.instance-list {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2b2b2b;
    overflow-x: hidden;
    color: #c1c1c1;
    font-weight: bold;
}

.instance-list hr {
    border: none;
    height: 1px;
    background-color: #c1c1c1;
    margin: 0px;
}

.instance-list-header {
    display: flex;
    flex-direction: row;
    font-weight: normal;
    justify-content: space-around;
}

.instance-list-header p {
    margin: 5px;
}

.instance-list-item {
    display: flex;
    flex-direction: column;
    padding: 6px 10px;
    cursor: pointer;
}

.instance-list-item:hover {
    background-color: #3f3f3f;
}

.instance-list-item-status {
    display: inline-flex;
    height: 20px;
    align-items: center;
    font-size: 1.2em;
    margin-top: 2px;
}

.instance-list-item-status p {
    display: inline;
    margin-left: 4px;
    font-size: 0.8em;
    font-weight: normal;
    font-style: italic;
}

.instance-list-status-icon {
    width: 16px;
    height: 16px;
    padding: 2px;
    border-radius: 15px;
}

.instance-list-status-icon.ready {
    background-color: rgb(78, 78, 78);
}

.instance-list-status-icon.action {
    background-color: rgb(42, 89, 218);
}

.instance-list-status-name {
    line-height: 20px;
}

/* Style page content */
.tree-instance-details-area {
    margin-left: 200px;
    padding: 0px 10px;
}